<%- include ('partials/header') %>

    <div class="container-lg main-section">
        <h3>Compose</h3>
        <form action="/" method="post">
            <div class="input-area">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" name="note_title" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label class="form-label">Note</label>
                    <textarea name="note_text" class="form-control" rows="10" autocomplete="off"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Note</button>
        </form>
    </div>

    <%- include ('partials/footer') %>