<%- include ("partials/header") %>


    <div class="container-lg main-section">
        <h3>All Notes</h3>
        <% for (const note in all_notes) {%>
            <div class="card note">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=all_notes[note][0]%>
                    </h5>
                    <p class="card-text">
                        <%=all_notes[note][1]%>
                    </p>
                    <form action="/edit" method="post">
                        <button type="submit" class="btn btn-primary"></button>
                    </form>
                </div>
            </div>
            <% }%>
                <% %>
    </div>
    </div>

    <%- include ("partials/footer") %>