<%- include ('partials/header') %>

    <div class="container-lg main-section">
        <h3>
            <%= title %>
        </h3>
        <p>
            <%= body%>
        </p>
    </div>

<%- include ('partials/footer') %>