body {
  margin: 0;
  padding: 0;
}

.main-section {
  margin-top: 50px;
}

.notes {
  margin-top: 50px;
}

.note {
  margin: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid lightgray;
  padding-top: 5px;
}

.add-icon {
  color: black;
  margin-bottom: 20px;
}
